@import "../chatbot-theme/variables";

.btn-lg {
  height: 56px;
}

.btn {
  &:active {
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-primary {
  border: 0;
  box-shadow: 5px 10px 16px #4520AA34;
  border-radius: 10px;
  background-color: $primary;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  &:hover {
    background-color: $secondary;
  }
}

.btn-outline-primary {
  border-color: $primary;
  color: $primary;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: transparent;

  &:hover {
    background-color: $white;
    color: $primary;
    border-color: $secondary;
    box-shadow: 5px 10px 16px #4520AA34;
  }
}

.possible-actions-btn {
  position: relative;
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #d9d9ee;
  border-radius: 0px 10px 10px 10px;
  padding: 11px 16px;
  margin: 16px 0;
  cursor: pointer;

  img {
    &:first-child {
      margin-right: 14px;
    }
  }

  span {
    img {
      position: absolute;
      left: 30px;
      top: 28px;
      object-fit: contain;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: $dark;
    opacity: 0.8;
  }
}