@import "../chatbot-theme/variables";

// welcome screen info card
.info-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: $gray;
  height: 72px;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;

  .icon {
    background-color: $primary;
    width: 40px;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    line-height: 1.5;
    position: relative;
    margin-right: 16px;

    .line-1 {
      left: 16px;
      width: 6px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 25px;
    }

    .line-2 {
      @extend .line-1;
      width: 3px;
      top: 29px;
      left: 17px;
    }
  }
}

// regular-card
.regular-card {
  cursor: pointer;
  background-color: $bg-card;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid $border-light;

  hr {
    border-top: 2px solid #2D2E31;
    opacity: 0.1;
  }

  .points {
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px;

    span {
      padding-left: 10px;
      display: inline-block;
    }
  }

  .comapany-logo-name {
    img {
      margin-right: 12px;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// chatbot-icon-card
.chatbot-icon-card {
  cursor: pointer;
  background-color: $primary;
  width: 56px;
  height: 56px;
  border-radius: 6px;
}

// details card
.details-card {
  cursor: pointer;
  border-radius: 8px;
  background-color: $bg-card;
  padding: 15px;
  border: 1px solid $border-light;

  hr {
    border-top: 1px solid $dark;
    opacity: 0.2;
  }

  .points {
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px;
  }

  .text-danger {
    color: $danger;
  }

  .company-logo-div {
    display: flex;
    flex-direction: row;
    max-width: 100px;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    img {
      border-radius: 3px;
      margin-right: 12px;
    }
  }
}

// possible action card
.possible-action-card {
  background-color: $input;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  padding: 16px;

  position: absolute;
  width: calc(100% - 60px);
  bottom: 0;
  z-index: 1111;

  .text-primary {
    color: $primary !important;
    text-decoration: none;
    cursor: pointer;
  }

  .close {
    position: absolute;
    right: 5px;
    cursor: pointer;
  }

  .text-right {
    text-align: right;
  }

  .list-item {
    border: 1px solid $border-lighter;
    border-radius: 8px;
    height: 32px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background-color: $white;
    margin-bottom: 8px;
    cursor: pointer;

    span {
      img {
        margin-top: -4px;

        &:nth-child(2) {
          margin-right: 6px;
        }
      }
    }

    p {
      margin-bottom: 0;
      margin-left: 13px;
      color: $dark !important;
    }

    a {
      margin-bottom: 0;
      margin-left: 13px;
      color: $dark !important;
      text-decoration: none;
    }
  }

  .header {
    position: relative;
    margin-bottom: 15px;

    .a-icon {
      position: absolute;
      left: 0;
      top: -5px;

    }
  }

  .heading-text {
    display: inline-block;
    margin-left: 35px;
    color: $dark;
    font-weight: bold !important;
    margin-top: 6px;

  }

  .title {
    display: inline-block;
    margin-right: 15px;
    position: relative;


    img {
      &:nth-child(2) {
        position: absolute;
        left: 15px;
        top: 27px;
      }
    }
  }
}

.action-requested-chat-card {
  padding: 20px;
  border: 1px solid $border-light;
  background-color: $bg-card;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  width: 415px;
  margin-bottom: 16px;

  span {
    font-size: 12px;
    width: 15px;
    height: 15px;
    background-color: #38b4b2;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 1.4;
    position: absolute;
    top: 23px;
    left: 20px;
  }

  .ml {
    margin-left: 30px;
  }



  p {
    opacity: 0.8;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-family: 'Open Sans',
        sans-serif;
      font-weight: 400;
      color: #2D2E31;
      font-size: 14px;
      opacity: 0.8;

      b {
        font-weight: 600;
        color: $dark;
        opacity: 1;
      }
    }
  }

}

.risk-summary-card-row {
  .col-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}