@import "../chatbot-theme/variables";

.form-control {
  border-radius: 10px;
  height: 56px;
  border: 0;
  background-color: $input;
  color: $dark;
  font-family: 'Open Sans', sans-serif;
  padding-left: 24px;
  font-size: 14px;

  &:focus {
    box-shadow: none;
    background-color: $input;

  }
}


.input-group-text {
  padding: .375rem 1.5rem;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 5px 10px 16px $box-shadow;
  border: 0;
  background-color: $primary;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
  }
}


// custom input styles
.mic-icon {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 1.3;
  position: absolute;
  right: 85px;
  z-index: 111;
  top: 18px;
  cursor: pointer;

  &:hover {
    background-color: #BFBFBF;
  }

  img {
    width: 15px;
    height: 15px;
    width: 15px;
    height: 15px;

  }

}


#input-box::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $dark !important;
  opacity: 0.7;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

#input-box::-moz-placeholder {
  /* Firefox 19+ */
  color: $dark !important;
  opacity: 0.7;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

#input-box:-ms-input-placeholder {
  /* IE 10+ */
  color: $dark !important;
  opacity: 0.7;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

#input-box:-moz-placeholder {
  /* Firefox 18- */
  color: $dark !important;
  opacity: 0.7;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}



// 


#otherInputBox::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $white !important;
  opacity: 0.5;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

#otherInputBox::-moz-placeholder {
  /* Firefox 19+ */
  color: $white !important;
  opacity: 0.5;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

#otherInputBox:-ms-input-placeholder {
  /* IE 10+ */
  color: $white !important;
  opacity: 0.5;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

#otherInputBox:-moz-placeholder {
  /* Firefox 18- */
  color: $white !important;
  opacity: 0.5;
  font-style: italic !important;
  font-weight: 400;
  font-size: 14px;
}

// Signup form 
#signup-form {
  margin: 24px 93px 0 93px;

  .input-group {
    margin-bottom: 1rem;
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    margin: unset;
  }

}

#login-form {
  @extend #signup-form;
  margin: 30px 93px 0 93px;

}