@import "../chatbot-theme/variables";

// close icons
.close-icon {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #3b2ae069;
  opacity: 1;
  background-color: $white;
  z-index: 111;

  &:hover {
    border: 1px solid $border;
    box-shadow: 0 .5rem 1rem #4520aa5c !important;
    opacity: 0.8;

    .arrow-right {
      opacity: 1;
    }
  }

  img {
    &:first-child {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      opacity: 0.5;
    }
  }

  position: relative;
  width: 36px;
  height: 36px;
  background: white;
  z-index: 111;
  margin-top: 11px;
}

// line
.line {
  border: 1px solid $border;
  border-top: 0;
  box-shadow: -10px 13px 16px #00000029;
}

// dot
.dot {
  width: 10px;
  height: 10px;
  background-color: $danger;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 0;
}