@import "../chatbot-theme/variables";


// regular list
.regular-list {
  list-style: none;
  margin-bottom: 24px;

  li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $dark;
    font-size: 13px;
    background: url('/assets/img/dot.svg') no-repeat 0 5px;
    height: 25px;
    padding-top: 0;
    padding-left: 25px;

    span {
      opacity: 0.6;
    }
  }
}

// avatar list
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.avatar-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  top: 42px;
  left: 190px;
  position: absolute;
  z-index: 111;

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 767.98px) {
   left: 170px;
  }

  li {
    padding-right: 9px;
    cursor: pointer;
    position: relative;

    &:last-child {
      &:hover {
        .circle {
          box-shadow: 0 .5rem 1rem #4520aa5c !important;
          border: 1px solid $secondary;
          opacity: 0.8;
        }
      }
    }

    .profile {
      &:hover {
        border: 1px solid $primary;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

      }
    }





    .profile {
      @extend .avatar;
    }

    .circle {
      position: relative;
      opacity: 0.7;
      width: 36px;
      height: 36px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #3B2AE0;
      display: inline-block;
      opacity: 0.5;
      text-align: center;


    }

    .profile-icon {
      width: 15px;
      height: 15px;
      position: absolute;
      left: 44%;
      top: 44%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      z-index: 1;
    }
  }

}