@import "../chatbot-theme/variables";

// landing page
.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
  margin-top: 85px;

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    margin-top: 45px;

  }
}

.hero-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 14px;

}

.hero-desc-landing {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: $dark;
  opacity: 0.6;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 30px;
}

.hero-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #454545;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-bottom: 0;
  width: 200px;

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    width: auto;

  }
}

// heading & titles
.heading-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 23px;
  color: $dark;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $white;
}


.title {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
  font-weight: 600;
  font-size: 24px;
}

// small font
.text-small-regular-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $dark;
  font-size: 14px;
}

.text-small-semibold-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $dark;
  font-size: 14px;
}

.text-small-bold-font {
  font-weight: bold;
  @extend .text-small-semibold-font;
}

// very small font
.text-tiny-bold-font {
  font-weight: bold;
  font-size: 12px;
  color: $dark;
}

// regular font
.text-regular {
  color: $dark;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  b {
    font-weight: 600;
    color: $black;
  }
}

.text-small-regular {
  color: $dark;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 0.8;
}

.text-tiny-regular {
  color: $dark;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 0.8;
  color: $black;
}


// italic font
.text-small-italic {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: italic;
}

// text colors
.text-primary {
  color: $primary !important;
}

.text-special {
  padding: 0px 0 32px 0;
}

#why-important {
  padding-top: 16px;

  &:hover {
    text-decoration: underline;
  }
}

.font-weight-300 {
  font-weight: 300;
}