$primary: #6746EE !default;
$secondary: #4520aa !default;
$white: #fff !default;
$black: #000 !default;
$box-shadow:#4520AA5C !default;
$input:#EFEFEF !default;
$dark:#2D2E31 !default;
$gray:#F6F6FD !default;
$border:#3B2AE0 !default;
$border-light: #E5E5E8 !default;
$border-lighter:#DCDCDC !default;
$danger:#ED4545 !default;
$info:#9BCFED !default;
$purple: #AFA0ED !default;
$purple-1:#EDE6FF !default;
$chatInputChip:#EBEBED !default;
$bg-card: #F7F7F7 !default;