/*!
 =========================================================
 * Chatbot Theme - v1.0.0
 =========================================================
  
 */
.heading-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 23px;
  color: #2D2E31; }

.title {
  font-family: 'Open Sans', sans-serif;
  color: #2D2E31;
  font-weight: 600;
  font-size: 24px; }

.text-small-regular-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2D2E31;
  font-size: 14px; }

.text-small-semibold-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #2D2E31;
  font-size: 14px; }

.text-regular {
  color: #2D2E31;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  .text-regular b {
    font-weight: 600;
    color: #000; }

.text-primary {
  color: #6746EE; }

.form-control {
  border-radius: 10px;
  height: 56px;
  border: 0;
  background-color: #EFEFEF;
  color: #2D2E31;
  font-family: 'Open Sans', sans-serif;
  padding-left: 24px; }
  .form-control:focus {
    box-shadow: none;
    background-color: #EFEFEF; }

.input-group-text {
  padding: .375rem 1.5rem;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 5px 10px 16px #4520AA5C;
  border: 0;
  background-color: #6746EE;
  color: #fff;
  cursor: pointer; }

.mic-icon img {
  width: 15px;
  height: 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 85px;
  z-index: 1;
  top: 20px;
  cursor: pointer; }

#input-box {
  font-style: italic; }
  #input-box ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: pink !important; }
  #input-box ::-moz-placeholder {
    /* Firefox 19+ */
    color: pink !important; }
  #input-box :-ms-input-placeholder {
    /* IE 10+ */
    color: pink !important; }
  #input-box :-moz-placeholder {
    /* Firefox 18- */
    color: pink !important; }

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #F6F6FD;
  height: 72px;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer; }
  .info-card .icon {
    background-color: #6746EE;
    width: 40px;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    line-height: 1.5;
    position: relative;
    margin-right: 16px; }
    .info-card .icon .line-1, .info-card .icon .line-2 {
      left: 16px;
      width: 6px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 25px; }
    .info-card .icon .line-2 {
      width: 3px;
      top: 29px;
      left: 17.5px; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.star {
  background-color: #6746EE;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 1.7;
  text-align: center; }
  .star span {
    font-size: 18px;
    color: #fff; }

.btn-lg {
  height: 56px; }

.btn:active {
  box-shadow: none; }
  .btn:active:focus {
    box-shadow: none; }

.btn:focus {
  box-shadow: none; }

.btn-primary {
  border: 0;
  box-shadow: 5px 10px 16px #4520AA34;
  border-radius: 10px;
  background-color: #6746EE;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }
  .btn-primary:hover {
    background-color: #6746EE; }

.btn-outline-primary {
  border-color: #6746EE;
  color: #6746EE;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: transparent; }
