/*!
 =========================================================
 * Chatbot Theme - v1.0.0
 =========================================================
 */
.heading-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 23px;
  color: #2D2E31;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fff; }

.title {
  font-family: 'Open Sans', sans-serif;
  color: #2D2E31;
  font-weight: 600;
  font-size: 24px; }

.text-small-regular-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2D2E31;
  font-size: 14px; }

.text-small-semibold-font, .text-small-bold-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #2D2E31;
  font-size: 14px; }

.text-small-bold-font {
  font-weight: bold; }

.text-tiny-bold-font {
  font-weight: bold;
  font-size: 12px;
  color: #2D2E31; }

.text-regular {
  color: #2D2E31;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  .text-regular b {
    font-weight: 600;
    color: #000; }

.text-small-regular {
  color: #2D2E31;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 0.8; }

.text-tiny-regular {
  color: #2D2E31;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 0.8;
  color: #000; }

.text-small-italic {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: italic; }

.text-primary {
  color: #6746EE !important; }

.text-special {
  padding: 16px 0 32px 0; }

.form-control {
  border-radius: 10px;
  height: 56px;
  border: 0;
  background-color: #EFEFEF;
  color: #2D2E31;
  font-family: 'Open Sans', sans-serif;
  padding-left: 24px; }
  .form-control:focus {
    box-shadow: none;
    background-color: #EFEFEF; }

.input-group-text {
  padding: .375rem 1.5rem;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 5px 10px 16px #4520AA5C;
  border: 0;
  background-color: #6746EE;
  color: #fff;
  cursor: pointer; }

.mic-icon img {
  width: 15px;
  height: 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 85px;
  z-index: 1;
  top: 20px;
  cursor: pointer; }

#input-box {
  font-style: italic; }
  #input-box ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: pink !important; }
  #input-box ::-moz-placeholder {
    /* Firefox 19+ */
    color: pink !important; }
  #input-box :-ms-input-placeholder {
    /* IE 10+ */
    color: pink !important; }
  #input-box :-moz-placeholder {
    /* Firefox 18- */
    color: pink !important; }

.info-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #F6F6FD;
  height: 72px;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer; }
  .info-card .icon {
    background-color: #6746EE;
    width: 40px;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    line-height: 1.5;
    position: relative;
    margin-right: 16px; }
    .info-card .icon .line-1, .info-card .icon .line-2 {
      left: 16px;
      width: 6px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 25px; }
    .info-card .icon .line-2 {
      width: 3px;
      top: 29px;
      left: 17px; }

.regular-card {
  cursor: pointer;
  background-color: #F6F6FD;
  padding: 15px;
  border-radius: 8px; }
  .regular-card .points {
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px; }
  .regular-card .comapany-logo-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .regular-card .comapany-logo-name img {
      margin-right: 12px; }
  .regular-card p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.chatbot-icon-card {
  cursor: pointer;
  background-color: #6746EE;
  width: 56px;
  height: 56px;
  border-radius: 6px; }

.details-card {
  cursor: pointer;
  border-radius: 8px;
  background-color: #F6F6FD;
  padding: 15px; }
  .details-card .points {
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px; }
  .details-card .text-danger {
    color: #ED4545; }
  .details-card .company-logo-div {
    display: flex;
    flex-direction: row;
    max-width: 100px; }
    .details-card .company-logo-div p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .details-card .company-logo-div img {
      border-radius: 3px;
      margin-right: 12px; }

.possible-action-card {
  background-color: #F6F6FD;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  padding: 16px;
  position: absolute;
  width: calc(100% - 60px);
  bottom: 0;
  z-index: 111; }
  .possible-action-card .text-primary {
    color: #6746EE !important;
    text-decoration: none;
    cursor: pointer; }
  .possible-action-card .close {
    position: absolute;
    right: 5px; }
  .possible-action-card .text-right {
    text-align: right; }
  .possible-action-card .list-item {
    border: 1px solid #9BCFED;
    border-radius: 8px;
    height: 32px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-bottom: 8px; }
    .possible-action-card .list-item span img {
      margin-top: -4px; }
      .possible-action-card .list-item span img:nth-child(2) {
        margin-right: 6px; }
    .possible-action-card .list-item p {
      margin-bottom: 0;
      margin-left: 13px; }
  .possible-action-card .header {
    position: relative;
    margin-bottom: 15px; }
    .possible-action-card .header .a-icon {
      position: absolute;
      left: 0;
      top: -5px; }
  .possible-action-card .heading-text {
    display: inline-block;
    margin-left: 35px; }
  .possible-action-card .title {
    display: inline-block;
    margin-right: 15px;
    position: relative; }
    .possible-action-card .title img:nth-child(2) {
      position: absolute;
      left: 15px;
      top: 27px; }

.close-icon {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
  background: white;
  z-index: 111;
  margin-top: 10px; }
  .close-icon img:first-child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.line {
  border: 1px solid #3B2AE0;
  border-top: 0;
  box-shadow: -10px 13px 16px #00000029; }

.dot {
  width: 10px;
  height: 10px;
  background-color: #ED4545;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 0; }

.regular-list {
  list-style: none;
  margin-bottom: 24px; }
  .regular-list li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2D2E31;
    font-size: 13px;
    background: url("/assets/img/dot.svg") no-repeat 0 5px;
    height: 25px;
    padding-top: 0;
    padding-left: 25px; }
    .regular-list li span {
      opacity: 0.6; }

.avatar, .avatar-list li .profile {
  width: 37px;
  height: 37px;
  border-radius: 50%; }

.avatar-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  top: 42px;
  left: 190px;
  position: absolute;
  z-index: 111; }
  .avatar-list li {
    padding-right: 9px;
    cursor: pointer; }
    .avatar-list li span {
      position: relative;
      opacity: 0.7;
      background-color: #fff; }
      .avatar-list li span img:first-child {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 56%;
        top: 50%;
        transform: translate(-50%, -50%); }

.chatbot-avatar-bg {
  background-color: #6746EE;
  width: 34px;
  height: 34px;
  border-radius: 50%; }

.left-align {
  justify-content: flex-start; }
  .left-align .chatbot-avatar-bg {
    margin-right: 10px; }

.right-align {
  justify-content: flex-end; }
  .right-align .chatbot-avatar-bg-transparent {
    margin-left: 10px;
    background-color: transparent; }

.chatbot-profile-icon {
  display: flex;
  align-items: center; }
  .chatbot-profile-icon p {
    margin-bottom: 0; }
  .chatbot-profile-icon .chatbot-avatar-bg {
    background-color: #6746EE;
    width: 34px;
    height: 34px;
    border-radius: 50%; }

.conversation-text {
  font-style: italic;
  font-style: 14px;
  color: #2D2E31;
  opacity: 0.4;
  margin-bottom: 0;
  background-color: #EBEBED;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 16px; }
  .conversation-text b {
    font-weight: 500; }

.chat-petal-left {
  padding: 10px 16px;
  border: 1px solid #9BCFED;
  background-color: #F6F6FD;
  width: max-content;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-bottom: 16px;
  margin-top: 10px; }
  .chat-petal-left p {
    margin-bottom: 0; }

.chat-petal-right {
  padding: 10px 16px;
  border: 1px solid #AFA0ED;
  background-color: #EDE6FF;
  width: max-content;
  border-radius: 10px;
  border-top-right-radius: 0px;
  margin-bottom: 16px;
  margin-top: 10px; }
  .chat-petal-right p {
    margin-bottom: 0; }
  .chat-petal-right span {
    display: inline-block;
    margin-right: 8px; }

.chat-question-chip {
  background-color: #EBEBED;
  border-radius: 10px;
  padding: 14px;
  margin-top: 16px;
  color: #2D2E31;
  opacity: 0.4;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  max-width: -webkit-fill-available; }
  .chat-question-chip b {
    font-weight: 600; }

.chats-inputs {
  width: fit-content; }

.chatbot-main-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 111; }
  .chatbot-main-head .chatbot-main {
    width: 56px;
    height: 56px;
    background-color: #6746EE;
    border-radius: 8px;
    text-align: center; }
    .chatbot-main-head .chatbot-main img {
      height: 56px; }

.offcanvas-end {
  width: 537px; }
  .offcanvas-end .line {
    top: 57px;
    position: absolute;
    width: 100%;
    z-index: 1; }

.offcanvas-header {
  padding: 32px 32px 10px 32px; }

.offcanvas-body {
  padding: 10px 32px 10px 32px; }

.input-box {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px); }

.mt-12 {
  margin-top: 12px; }

.ml-15 {
  margin-left: 15px; }

.mt-625 {
  margin-top: 0.625rem; }

.mt-big {
  margin-top: 150px; }

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.ptb-16 {
  padding: 16px 0; }

.text-right {
  text-align: right !important; }

.cursor-pointer {
  cursor: pointer; }

.Drawer {
  width: calc(100% - 60px);
  position: absolute;
  bottom: 0;
  left: 32px;
  top: unset;
  transform: translateY(100%);
  transition: transform ease-out 0.3s;
  height: 230px; }

.Drawer.is-open {
  /* Slide the drawer back in when it's "open" */
  transform: translateX(0); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.star-text {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .star-text p {
    margin-left: 10px; }

.star {
  background-color: #6746EE;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 1.7;
  text-align: center; }
  .star span {
    font-size: 18px;
    color: #fff;
    text-align: center; }

.btn-lg {
  height: 56px; }

.btn:active {
  box-shadow: none; }
  .btn:active:focus {
    box-shadow: none; }

.btn:focus {
  box-shadow: none; }

.btn-primary {
  border: 0;
  box-shadow: 5px 10px 16px #4520AA34;
  border-radius: 10px;
  background-color: #6746EE;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }
  .btn-primary:hover {
    background-color: #6746EE; }

.btn-outline-primary {
  border-color: #6746EE;
  color: #6746EE;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: transparent; }
  .btn-outline-primary:hover {
    background-color: #6746EE; }

.possible-actions-btn {
  position: relative;
  width: 162px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #F6F6FD;
  border-radius: 0px 10px 10px 10px;
  padding: 11px 16px;
  margin: 16px 0;
  cursor: pointer; }
  .possible-actions-btn img:first-child {
    margin-right: 14px; }
  .possible-actions-btn span img {
    position: absolute;
    left: 30px;
    top: 28px;
    object-fit: contain; }
